<div class="row">
  <% if @model == 'user' %>
    <div class="col-xs-12">
      <%= render 'users/users', users: @users %>
    </div>
  <% else @model == 'book' %>
    <div class="col-xs-12">
      <%= render 'books/books', books: @books %>
    </div>
  <% end %>
</div>